In [4]:
number = []
for i in range(2000, 3201):
    if((i % 7 == 0) and (i % 5 != 0)):
        number.append(str(i));
        
print(','.join(number))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [9]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print (fact(x))

8
40320

In [13]:
Number = int(input('Enter the Number'))
mydict = dict()
for i in range(1, Number + 1):
    mydict[i] = i*i
    
mydict

Enter the Number8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [19]:
Number = input()
List = Number.split(',')
print(List)
tup = tuple(List)
tup

35,15,25,54,56,58
['35', '15', '25', '54', '56', '58']

('35', '15', '25', '54', '56', '58')

In [20]:
def square(num):
    return num ** 2

print (square(2))
print (square(3))

4
9

In [21]:
def SumFunction(number1, number2):
    return number1 + number2

print (SumFunction(1,2))

3

In [22]:
def printValue(n):
    return str(n)

printValue(3)

'3'

In [23]:
def printValue(s1,s2):
    return (int(s1) + int(s2))

printValue("3","4")

7

In [24]:
def printValue(s1,s2):
     return (s1+s2)

printValue("3","4")

'34'

In [25]:
def printValue(s1,s2):
    length1 = len(s1)
    length2 = len(s2)
    if length1 > length2 :
        print(s1)
    elif length2 > length1 :
        print(s2)
    else :
        print(s1)
        print(s2)


printValue("one","three")

three

In [26]:
def checkValue(n):
    if n % 2 == 0 :
        print('It is an even number')
    else :
        print('It is an Odd number')

checkValue(7)

It is an Odd number

In [29]:
def printDict():
    mydict = dict()
    for i in range(1, 4) :
        mydict[i] = i * i
    print(mydict)

printDict()

{1: 1, 2: 4, 3: 9}

In [30]:
def printDict():
    mydict = dict()
    for i in range(1, 21) :
        mydict[i] = i ** 2
    print(mydict)

printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [41]:
def printDict():
    mydict = dict()
    for i in range(1, 21) :
        mydict[i] = i ** 2
        
    for value in mydict.values():
        print(value)

printDict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [42]:
def printDict():
    mydict = dict()
    for i in range(1, 21) :
        mydict[i] = i ** 2
        
    for key in mydict.keys():
        print(key)

printDict()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [43]:
def printList():
    List=list()
    for i in range(1,21):
        List.append(i ** 2)
    print (List)


printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [44]:
def printList():
    List=list()
    for i in range(1,21):
        List.append(i ** 2)
    print (List[:5])


printList()

[1, 4, 9, 16, 25]

In [46]:
def printList():
    List=list()
    for i in range(1,21):
        List.append(i ** 2)
    print (List[-5:])


printList()

[256, 289, 324, 361, 400]

In [47]:
def printList():
    List=list()
    for i in range(1,21):
        List.append(i ** 2)
    print (List[5:])


printList()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [51]:
def printList():
    List=list()
    for i in range(1,21):
        List.append(i ** 2)
    print (tuple(List))


printList()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [52]:
tup=(1,2,3,4,5,6,7,8,9,10)
print (tup[:5])
print (tup[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [53]:
tup=(1,2,3,4,5,6,7,8,9,10)
List = []
for i in tup :
    if i % 2 == 0 :
        List.append(i)
    
tup_even = tuple(List)
print(tup_even)

(2, 4, 6, 8, 10)

In [54]:
string=input()
if string == "yes" or string == "YES" or string == "Yes":
    print ("Yes")
else:
    print ("No")

YES
Yes

In [66]:
List=[1,2,3,4,5,6,7,8,9,10]
Even_Number = list(filter(lambda x: x%2 == 0, List))
Even_Number

[2, 4, 6, 8, 10]

In [67]:
List = [1,2,3,4,5,6,7,8,9,10]
Square = list(map(lambda x: x**2, List))
print (Square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
List=[1,2,3,4,5,6,7,8,9,10]
Even_Number = list(filter(lambda x: x%2 == 0, List))
Square = list(map(lambda x: x**2, Even_Number))
print(Square)

[4, 16, 36, 64, 100]

In [69]:
Even_Number = list(filter(lambda x: x%2 == 0, range(1,21)))
Even_Number

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [71]:
Square = list(map(lambda x: x**2, range(1,21)))
print(Square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]